.buscador-input {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

.buscador-input:focus {
  border-color: #40a6ff;
}
