/* Variables de color para toda la app */
:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-bg-light: #ffffff;
  --color-bg-dark: #242424;
  --color-text-light: rgba(255, 255, 255, 0.87);
  --color-text-dark: #213547;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
}

/* Reset general para todas las páginas */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Por defecto, texto claro en fondo oscuro (puedes cambiarlo si quieres) */
body {
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

/* Links estándar */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
}

/* Botones estándar */
button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-bg-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
